.ace_editor {
    background-color: transparent !important;
}

.ace_scroller {
    background-color: rgba(0,0,0,0.25) !important;
}

.ace_content {
    background-color: transparent !important;
}

.ace_gutter {
    background-color: rgba(0,0,0,0.17) !important;
}

.ace_gutter-layer {
    color: rgba(230, 210, 255, 0.25);
    min-width: 60px;
    text-align: center;
    padding-right: 12px;
    background-color: transparent;
}

.ace_gutter-active-line {
    background-color: rgba(230, 210, 255, 0.05) !important;
}

.ace_tooltip {
    color: white !important;
    background-color: red !important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    border: 1px solid rgba(0,0,0,0.4) !important;
    padding: 12pt !important;
    padding-left: 16pt !important;
    padding-right: 16pt !important;
}

.ace_gutter-cell.ace_error {
    position: relative !important;
    color: red;
    background: linear-gradient(left, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.1) 70%, rgba(255, 0, 0, 0.35) 98%, rgba(255, 0, 0, 1) 98%, #f00 100%) no-repeat border-box border-box !important;
    background-size: cover !important;
    width: 100%;
}
