
.fork-me {
    margin-right: 16px;
    margin-top:   5px;
    padding:      0;
}

.fork-me .github-octicon-mark {
    fill: #999;
    width:  42px;
    height: 42px;
    -moz-transition: fill .2s ease-in;
    -o-transition: fill .2s ease-in;
    -webkit-transition: fill .2s ease-in;
    transition: fill .2s ease-in;
}

.fork-me .github-octicon-mark:hover {
    fill: #fff;
}

.fork-me a {
    position: relative;
    display: block;
    width:  100%;
    height: 100%;
    outline: none;
}

.logo {
    margin-top: -0.9em;
    margin-right: 2rem;
    text-align: center;
}

.icon-binary-code:before {
    -webkit-font-smoothing: antialiased;
    content: "\e900";
    color: #fff;
}

.Resizer {
    background: transparent;
    margin-bottom: 160px;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.Resizer.vertical {
    width: 5px;
    background: rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:active,
.Resizer.vertical:hover {
    background: rgba(255, 255, 255, 0.1);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.gly-spin {
	-webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.busy-signal {
    position: relative;
    top: 15px;
    left: 26px;
    width: 26px;
    height: 26px;
}

.busy-success-color {
    color: #5bb85d;
    border-color: #5bb85d;
}

.busy-failure-color {
    color: #ff6836;
    border-color: #ff6836;
}

.busy-signal .busy-signal-symbol {
    font-size: 10px;
    position: relative;
    text-align: center;
    line-height: 24px;
}

.busy-signal .busy-signal-maskedCircle {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    border: 1pt solid;
    box-sizing: border-box;
}

.busy-signal .busy-signal-mask {
    width: 10px;
    height: 10px;
    overflow: hidden;
}

.busy-signal .busy-signal-spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    animation: spin 700ms infinite linear;
}


@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
